.Counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}

.ctrTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}